XTerm.VT100.translations: #override \
Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD)

XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 11
XTerm*renderFont: true

Xcursor.theme: Adwaita
Xcursor.size: 24
Xcursor.theme_core: true

XTerm*scrollBar: false
XTerm*saveLines: 5000
XTerm*selectToClipboard: false

XTerm*highlightTextColor: #0B0C0F
XTerm*highlightColor: #00E6D0

XTerm*cursorShape: block
XTerm*bellIsUrgent: false
XTerm*visualBell: false

XTerm*background: #0B0C0F
XTerm*foreground: #E6E6E6
XTerm*cursorColor: #00E6D0

XTerm*color0:  #0B0C0F
XTerm*color1:  #CD0000
XTerm*color2:  #00CD00
XTerm*color3:  #CDCD00
XTerm*color4:  #0000EE
XTerm*color5:  #CD00CD
XTerm*color6:  #00CDCD
XTerm*color7:  #E6E6E6
XTerm*color8:  #707780
XTerm*color9:  #FF0000
XTerm*color10: #00FF00
XTerm*color11: #FFFF00
XTerm*color12: #5C5CFF
XTerm*color13: #FF00FF
XTerm*color14: #00E6D0
XTerm*color15: #FFFFFF

XTerm*title: FREEBSD // TERMINAL
XTerm*iconName: FREEBSD

! SIXEL / VT340
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
XTerm*sixelScrolling: true

! SIXEL / VT340
XTerm*decTerminalID: vt340
XTerm*decGraphicsID: 340
XTerm*numColorRegisters: 256
