* {
    bg: #0B0C0F;
    fg: #E6E6E6;
    muted: #707780;
    accent: #00E6D0;

    background-color: @bg;
    text-color: @fg;
    font: "DejaVu Sans Mono 11";
}

window {
    width: 560px;
    height: 320px;
    background-color: @bg;
    border: 1px;
    border-color: #202020;
    padding: 16px;
}

mainbox {
    children: [inputbar, listview];
    spacing: 10px;
}

inputbar {
    children: [prompt, entry];
    background-color: transparent;
    border: 0px;
    padding: 4px 0px;
}

prompt {
    background-color: transparent;
    text-color: @accent;
    padding: 0px 8px 0px 0px;
    str: "◆";
}

entry {
    background-color: transparent;
    text-color: @fg;
    placeholder: "Search...";
    placeholder-color: @muted;
    padding: 0px;
    cursor-width: 0px;
}

listview {
    columns: 1;
    lines: 7;
    fixed-height: true;
    spacing: 2px;
    scrollbar: false;
    background-color: transparent;
    padding: 0px;
}

element {
    background-color: transparent;
    border: 0px;
    padding: 7px 6px;
}

element-text {
    background-color: transparent;
    text-color: @fg;
}

element selected {
    background-color: transparent;
    border: 0px;
}

element selected element-text {
    background-color: transparent;
    text-color: @accent;
    highlight: bold #00E6D0;
}

message {
    background-color: transparent;
    text-color: @muted;
}
